
.nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(57, 54, 54, 0.831);
    flex-direction: row;
    padding-top: 20px;
    padding-bottom:20px;

    
}
.nav ul li{
    font-weight: bold;
}
.nav a.chosen,
.nav a:hover {
  border-bottom: 1px solid #F14B31;
}

